# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Stephen\OneDrive - TCDUD.onmicrosoft.com\College\Year 3\Advanced Telecomms\Assignments\WebProxy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
